.main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

#contato {
  background-color: #1d2228;
  color: #ffffff;
  padding: 1.25rem;
  border-radius: 0.5rem;
  height: 40rem;
  width: 80%;
  max-width: 37.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
}

h2{
  text-align: center;
  margin-bottom: 25px;
}

input,
textarea {
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  background-color: #1d2228;
  color: #ffffff;
}

button {
  padding: 10px;
  background-color: #ffffff;
  color: #1d2228;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 50px;
}

input:focus {
  background-color: gray;
}

.invalid {
  border: 2px solid red;
}