/* CONTEUDO DA PAGINA EQUIPE */
.principal {
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  #titulo-equipe {
    margin-bottom: 70px;
  }
  
  .content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .membros {
    font-size: 15px;
    width: 250px;
    text-align: center;
    margin: 50px 0;
    transition: transform 0.5s ease;
  }
  
  .membros:hover {
    transform: scale(1.1);
  }
  
  .avatar {
    border-radius: 10px;
  }
  
  .icon{
    margin: 5px;
  }
  
  footer {
    height: 50px;
    background-color: #1d2228;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
  }

  /* RESPONSIVIDADE DO CONTEUDO DA PAGINA EQUIPE */
@media screen and (max-width: 480px) {
    .content {
      display: grid;
      grid-template-columns: 1fr;
    }
    .membros {
      margin: 25px auto;
    }
  }
  
  @media screen and (min-width: 480px) and (max-width: 1024px) {
    .content {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .membros {
      margin: 25px auto;
    }
    .membros:nth-child(3) {
      grid-column-end: span 5;
    }
  }
  
  @media screen and (min-width: 1025px) and (max-width: 1199px) {
    #menu li {
      width: 145px;
      font-size: 15px;
    }
    #logo {
      margin-top: 10px;
      width: 100px;
    }
  }
  