@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;500;600&family=Lato:ital,wght@0,400;0,900;1,100;1,700&family=Lexend:wght@300;400;500;700&family=Roboto:ital,wght@0,700;1,100;1,300&family=Rubik+Puddles&display=swap");

* {
  font-family: lexend, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.corpo {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  height: 50px;
  background-color: #1d2228;
  display: flex;
  align-items: center;
  overflow: hidden;
}

#logo {
  margin: 3px 30px;
}

.item-menu {
  color: #fff;
  text-decoration: none;
  height: 50px;
}

#menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

#menu a {
  display: block;
  padding: 0px;
}

#menu li {
  width: 210px;
  text-align: center;
  line-height: 50px;
  list-style: none;
}

#menu li a:hover {
  background-color: #fff;
  color: #000;
}

#btn-mobile {
  display: none;
}

footer {
  height: 50px;
  background-color: #1d2228;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
}


@media screen and (max-width: 1024px) {
  #logo {
    display: none;
  }

  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 50px;
    height: 0;
    transition: 0.8s;
    background-color: #1d2228;
    overflow-x: hidden;
    z-index: 1;
  }

  nav.active #menu {
    height: 100vh;
  }

  #menu li {
    width: 100%;
    text-align: left;
  }

  #menu a {
    padding: 10px;
    margin: 0 15px;
    border-bottom: solid 1px #ffffff1c;
  }

  #btn-mobile {
    display: flex;
    padding: 8px 10px;
    border: none;
    margin: 10px;
    cursor: pointer;
    background: none;
    color: #fff;
    gap: 8px;
  }

  #hamburger {
    width: 40px;
    padding: 0;
  }
}