.body_ {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  font-family: lexend, sans-serif;
  background-color: white;
  color: #0f0f0f;
}

a {
  color: rgb(18, 18, 19);
  text-decoration: none;
}

.main_ {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#textoprincipal {
  width: 85vw;
  border-radius: 15px;
  padding: 5px 1px 1px;
  box-shadow: 3px 3px 4px black;
}

#carousel {
  border-radius: 15px;
  overflow: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.carousel-item {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.imgcont {
  width: 100%;
  height: 100%;
}

.txtcont {
  position: relative;
  color: black;
  bottom: 20%;
  right: 0%;
  font-size: 20px;
}

.txtP {
  font-size: 19px;
  justify-content: center;
}

#txtP1 {
  color: #0f0f0f;
}

#txtP2 {
  color: #12554f;
}

#txtP3 {
  color: rgb(117, 31, 45);
}

.titulo {
  color: red;
}

h2:hover {
  cursor: pointer;
  text-decoration: underline;
}

.titulocont1 {
  color: #1d2228;
}

.titulocont2 {
  color: #80b3e2;
}

.titulocont3 {
  color: rgb(219, 59, 86);
}

/* Responsividade */

@media (max-width: 1190px) {
  .carousel {
    height: 470px;
  }

  .txtcont {
    margin-top: -50px;
    font-size: 5px;
  }

  .carousel-item {
    height: 250px;
  }

  .imgcont {
    height: 470px;
  }

  .txtP {
    font-size: 11px;
  }

  #titulocont {
    font-size: 12px;
  }
}

/* Últimas notícias */

.ultimasnot {
  width: 80%;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: justify;
}

.noticia {
  background-color: rgb(223, 211, 223);
  height: 160px;
  position: relative;
  box-shadow: 3px 3px 4px black;
}

.imgnot {
  width: 20%;
  height: 100%;
}

.txtimg {
  font-size: 13px;
  position: absolute;
  top: 0%;
  left: 21%;
  padding: 10px;
  font-weight: 200;
}

p:hover {
  cursor: context-menu;
}

.titulo:hover {
  cursor: context-menu;
  text-decoration: underline;
}

/* Responsividade Últimas Notícias */

@media (max-width: 760px) {
  .noticia {
    padding-bottom: 420px;
  }

  .imgnot {
    height: auto;
    width: 100%;
    height: auto;
  }

  .txtimg {
    position: relative;
    font-size: 14px;
    margin-bottom: -300px;
    margin-right: 90px;
    margin-left: -50px;
  }
  .titulo {
    font-size: 15px;
    text-decoration: none;
  }
}
